<div class="row">
    <div class="col-md-2">
        <p class="lead">Workshop 1</p>
        <alert type="success" *ngIf="saveSuccess">
            <strong>Success!</strong> You successfully read this important alert message.
        </alert>
        <form (ngSubmit)="newRecommendTask()">
            <div class="form-group">
                <label for="ddl_algorithms">Algorithm</label>
                <br/>
                <div class="btn-group" dropdown id="ddl_algorithms">
                    <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                        {{algorithmSelected}} <span class="caret"></span>
                    </button>
                    <ul dropdownMenu role="menu" aria-labelledby="single-button">
                        <li *ngFor="let item of algorithms" role="menuitem"><a class="dropdown-item" (click)="onAlgorithmSelected(item)">{{item}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="ddl_algorithms">Similairty by</label>
                <br/>
                <div class="btn-group" dropdown id="ddl_algorithms">
                    <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                        {{similaritySelected}} <span class="caret"></span>
                    </button>
                    <ul dropdownMenu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a class="dropdown-item" (click)="onSimlaritySelected('User-User')">User-User</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="onSimlaritySelected('Item-Item')">Item-Item</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="ddl_algorithms">Traing vs Real</label>
                <br/>
                <div class="btn-group" dropdown id="ddl_algorithms">
                    <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                        {{trainingSelected}} <span class="caret"></span>
                    </button>
                    <ul dropdownMenu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a class="dropdown-item" (click)="onTrainingSelected('50 - 50')">50 - 50</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="onTrainingSelected('60 - 40')">60 - 40</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="onTrainingSelected('70 - 30')">70 - 30</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="onTrainingSelected('80 - 20')">80 - 20</a></li>
                    </ul>
                </div>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

    <div class="col-md-10">
        <tabset>
            <tab heading="Results">
                <h1> Recommender Results </h1>
                <div class="btn-group" dropdown id="ddl_tasks">
                    <button id="recommendTasks" type="button" class="btn btn-danger" dropdownToggle>
                        {{recommendTaskSelected.id}} - {{recommendTaskSelected.training}} - {{recommendTaskSelected.similarity}} - {{recommendTaskSelected.algorithm}} - {{recommendTaskSelected.added_date}} <span class="caret"></span>
                    </button>
                    <ul dropdownMenu role="menu" aria-labelledby="recommendTasks">
                        <li *ngFor="let item of recommendTasks" role="menuitem"><a class="dropdown-item" (click)="onRecommendTaskSelected(item)">{{item.id}} - {{item.training}} - {{item.similarity}} - {{item.algorithm}} - {{item.added_date}}</a></li>
                    </ul>
                </div>
                <alert type="error" *ngIf="isResultNotAvailabel">
                    <strong>Error!</strong> This recommendation has not been proccessed.
                </alert>
                <div>
                    {{recommendTasksResult}}
                </div>
            </tab>
            <tab heading="Users">
                <h1> Users </h1>
                <form (ngSubmit)="newUser()">
                    <div class="form-group">
                        <label for="userIdInput">User Id</label>
                        <input [(ngModel)]="newUserObj.user_id" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="userIdInput" placeholder="User Id">
                    </div>
                    <div class="form-group">
                        <label for="locationInput">Location</label>
                        <input [(ngModel)]="newUserObj.location" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="locationInput" placeholder="Location">
                    </div>
                    <div class="form-group">
                        <label for="ageInput">Age</label>
                        <input [(ngModel)]="newUserObj.age" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="ageInput" placeholder="Age">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </tab>
            <tab heading="Books">
                <form (ngSubmit)="newBook()">
                    <div class="form-group">
                        <label for="isbnInput">ISBN</label>
                        <input [(ngModel)]="newBookObj.isbn" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="isbnInput" placeholder="ISBN">
                    </div>
                    <div class="form-group">
                        <label for="bookTitleInput">Book Tittle</label>
                        <input [(ngModel)]="newBookObj.book_title" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="bookTitleInput" placeholder="Book Title">
                    </div>
                    <div class="form-group">
                        <label for="bookAuthorInput">Book Author</label>
                        <input [(ngModel)]="newBookObj.book_author" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="bookAuthorInput" placeholder="Book Author">
                    </div>
                    <div class="form-group">
                        <label for="yearPublishInput">Year Publish</label>
                        <input [(ngModel)]="newBookObj.year_publish" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="yearPublishInput" placeholder="Year Publish">
                    </div>
                    <div class="form-group">
                        <label for="publisherInput">Publisher</label>
                        <input [(ngModel)]="newBookObj.publisher" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="publisherInput" placeholder="Publisher">
                    </div>
                    <div class="form-group">
                        <label for="imgSmallInput">Image Small</label>
                        <input [(ngModel)]="newBookObj.image_small" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="imgSmallInput" placeholder="Image Small">
                    </div>
                    <div class="form-group">
                        <label for="imgMediumInput">Image Medium</label>
                        <input [(ngModel)]="newBookObj.image_medium" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="imgMediumInput" placeholder="Image Medium">
                    </div>
                    <div class="form-group">
                        <label for="imgLargeInput">Image Large</label>
                        <input [(ngModel)]="newBookObj.image_large" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="imgLargeInput" placeholder="Image Large">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </tab>
            <tab heading="Book-Rating">
                <form (ngSubmit)="newBookRaiting()">
                    <div class="form-group">
                        <label for="userIdRaitingInput">User Id</label>
                        <input [(ngModel)]="newBookRaitingObj.user_id" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="userIdRaitingInput" placeholder="User Id">
                    </div>
                    <div class="form-group">
                        <label for="isbnRaitingInput">ISBN</label>
                        <input [(ngModel)]="newBookRaitingObj.isbn" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="isbnRaitingInput" placeholder="ISBN">
                    </div>
                    <div class="form-group">
                        <label for="raitingInput">Raiting</label>
                        <input [(ngModel)]="newBookRaitingObj.raiting" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="raitingInput" placeholder="Raiting">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </tab>
        </tabset>
    </div>

</div>